.base {
  padding: 4px 0;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  // box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.15);
  // -webkit-box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.15);

  &_selected {
    border: 1px solid #1890ff;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  margin-bottom: 3px;
}

.input {
  margin-left: 10px;
  &:focus {
    box-shadow: none;
    border: 1px solid #d9d9d9;
  }
}

.controls {
  font-size: 19px;

  .editTodo {
    margin-left: 15px;
    &:hover {
      color: #1890ff;
      transform: scale(1.05);
    }
  }

  .deleteTodo {
    margin-left: 15px;
    &:hover {
      color: #1890ff;
      transform: scale(1.05);
    }
  }
}

.text {
  font-size: 18px;
  margin-left: 10px;
  white-space: pre-line;
  word-break: break-all;

  &_selected {
    color: rgb(140, 140, 140);
    text-decoration: line-through;
  }
}
